.wrapper {
    height: 5vh; 
    width: 100vw; 
    background-color:  #478990; 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 16px; 
    padding: 0.5rem 0; 
}