.wrapper {
    width: 80%;
    margin: 0 auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    overflow: hidden; 

    

    h3 {
        font-size: 3rem;
    }
}

/*
    .right-sctn {
        width: 100%;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        position: relative;
        
        &::after {
            content: "";
            z-index: -1;
            height: 106%;
            width: 56%;
            top: -0.3rem;
            right: 1.4rem;
            background-color: var(--color1);
            position: absolute;
            border-radius: 62% 38% 63% 37%/47% 33% 67% 53%;
        }
    
    }   */ 







/* Media Queries */

@media (min-width: 450px) {
    .right-sctn {

        &::after {
            right: 2.7rem !important; 
        }
    }
}

@media (min-width: 600px) {
    .right-sctn {

        &::after {
            right: 5.4rem !important; 
        }
    }
}

@media (min-width: 800px) {
    .wrapper {
        flex-direction: row; 
    }

    .right-sctn {
        width: 100%;
        justify-content: center;


        &::after {
            right: 2.7rem; 
        }
    }

    .about-me-pic {
        height: 317px !important;
    }
}

@media (min-width: 1000px) {
    .about-me-pic {
        height: 373px !important;       
    }
}

@media (min-width: 1500px) {
    .about-me-pic {
        height: 430px !important;       
    }
}


