<div id="contact-me" class="contact-sctn">
  <img src="assets/img/contact-wave-top.svg" class="wave-top">

  <h2>About me</h2>

  <div class="wrapper">
    

    <div id="about-me" class="about-me-sctn">
       
      <!--  Test -->
      
        <div>
          <p>I am a <b>creative & self-motivated</b> Coding Bootcamp Graduate,
            with a curiosity to further expand my practical and theoretical knowledge in the wide world of Frontend Development.</p>
        <p>If you'd like to leave a message or get in touch you can just use my contact form :) </p>
        </div>
          
        <img src="assets/img/blob3.svg" class="blob3">
        <img src="assets/img/dots-black.svg" class="dots-svg" alt="">
        <img src="assets/img/IMG_0131.png" class="about-me" alt="">
  
    <!-- Test Ende -->

    </div>
    <div class="contact-form">

      <form action="https://tatjana-hunekohl.developerakademie.net/portfolio/send_mail.php" method="POST"> 


        <div>
          <label for="name">Name</label>
          <input required id="name" name="name" type="text">
        </div>

        <div>
          <label for="e-mail">E-Mail</label>
          <input required id="e-mail" name="email" type="email">
        </div>

        <div class="container-textarea">
          <label for="message">Your message</label>
          <textarea required id="message" name="message"  minlength="20" maxlength="2000" cols="30" rows="10"></textarea>
        </div>

        <div class="dsgvo-checkbox">
          <input required id="checkbox" type="checkbox"><br>
          <label class="checkbox" for="checkbox">Mit der Erhebung, Verarbeitung und Nutzung meiner personenbezogenen Daten zum Zweck der
            Kontaktaufnahme auf meine Anfrage erkläre ich mich einverstanden. Ich kann mein Einverständnis jederzeit
            ohne Angabe von Gründen widerrufen.</label>
        </div>

        <div class="btn-row">
          <button required type="submit" class="submit-btn">Send</button>
        </div>
        
      </form>


    </div>
  </div>
</div>