<div class="navbar-wrapper">
  <div class="nav d-none">
   <a href="#home">HOME</a>
    <a href="#projects">PROJECTS</a>
    <a href="#about-me">ABOUT ME</a>
    <a href="#contact-me">CONTACT</a>
  </div>

  <div class="toggle-container">
    <img src="assets/img/menu-bar-color.svg" class="sidenav-toggle" (click)="showMenu()">
  </div>

  <!-- Movile Nav -->
  
  <div class="overlay-menu d-none" id="menu">
    
    <div class="close-btn-row" (click)="closeMenu()">
      <img src="assets/img/menu-toggle_white.svg" class="close-btn">
    </div>
  
    <div class="nav-items-wrapper">
        <a href="#home">HOME</a>
        <a href="#projects">PROJECTS</a>
        <a href="#about-me">ABOUT ME</a>
        <a href="#contact-me">CONTACT</a>
     </div>
  </div>

</div>

