.project-sctn {
    width: 100%; 
    overflow: visible; 
}

h2 {
    width: 80%; 
    margin: 48px auto;
    font-size: 3rem; 
}

.project-wrapper {
    width: 100%;
    position: relative; 
    padding: 1rem 0;

    .tech-icons {
        height: 30px; 
        padding: 8px 1rem 8px 0; 
    }

    .wave-top {
        position: absolute;
        width: 100vw; 
        top: -66px;
        z-index: -1;   
    }

    .wave-bottom {
        z-index: -3;
        position: absolute;
        bottom: -62px;
        width: 100vw;
    }
}

.white-bg-project {
        padding: 10rem 0; 
} 



.go-to-browser {
    
    border: none; 
    background-color: var(--color1);
    
    font-weight: 300;
    margin: 1rem 1rem 1rem 0;
    padding: 0.4rem;

    a {
        color: white; 
        text-decoration: none; 
    }

    &:hover {
        cursor: pointer; 
        background-color: #2e7a84;
    }


}

.width80 {
    width: 80%; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column;
    padding: 1rem; 
    justify-content: space-evenly;
    align-items: center;
}

.column-reverse {
    flex-direction: column-reverse; 
}

.btn-row {
    display: flex;
}

.project-pic-all {
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 350px;
    min-height: 270px; 
    height: auto; 
    transition: 0.3s ease-in-out; 
}

.img-box {
    width: 50%; 
}

.project-presentation {
    height: 150px; 
    transition: 0.3 ease-in-out; 

    &:hover {
        transform: scale(1.1); 
    }
}



.project-description {
    padding-left: 8%; 
    padding-right: 8%; 
    width: 50%; 

    .tech-stack {
        margin: 1rem 0; 
    }
    
}



@media (min-width: 430px) {
    .wave-top {
        top: -92px !important; 
    }
    .wave-bottom {
        bottom: -86px !important; 
    }
}

@media (min-width: 477px) {
    .wave-top {
        top: -101px !important;
    }
    .wave-bottom {
        bottom: -103px !important; 
    }
}

@media (min-width: 715px) {
    .wave-top {
        top: -154px !important;
    }
    .wave-bottom {
        bottom: -112px !important; 
    }
}

@media (min-width: 800px) {

    .about-me-pic {
        height: 300px;
    }

    .flush-right {
        margin: 1rem 0 1rem 1rem !important; 
    }

    .flex-end {
        justify-content: flex-end; 
    }

    .width80 {
        width: 80%; 
        margin: 0 auto; 
        display: flex; 
        flex-direction: row;
        padding: 2rem; 
        justify-content: space-evenly;
    }
    .text-align-right {
        text-align: right;
    }

    .project-presentation {
        height: 200px; 
    }

    .width80 {
        padding: 2rem; 
    }
    
    .wave-bottom {
        bottom: -142px !important; 
    }
}

@media (min-width: 1094px) {
    .wave-top {
        top: -223px !important;
    }
    .wave-bottom {
        bottom: -170px !important; 
    }

    .project-presentation {
        height: 250px; 
    }
}


@media (min-width: 1300px) {
    .wave-bottom {
        bottom: -249px !important; 
    }
}


@media (min-width: 1650px) {
    .wave-top {
        top: -356px !important;
    }

    .white-bg-project {
        padding: 18rem 0; 
    }
}

@media (min-width: 1900px) {
    .wave-bottom {
        bottom: -288px !important; 
    }
}

@media (min-width: 2250px) {
    .wave-bottom {
        bottom: -427px !important; 
    }

    .white-bg-project {
        padding: 25rem 0; 
    }
}


@media (min-width: 2570px) {
    .wave-top {
        top: -566px !important; 
    }
}

