<div class="project-sctn">
    
    <h2 id="projects">Projects</h2>

   
      <!-- TASK IT -->


      <div class="project-wrapper color1">
        <img src="assets/img/wave-top.svg" class="wave-top">
        <div class="width80">
            <div class="img-box flex-end">
                <img src="assets/img/task-it-project.png" class="project-presentation">
            </div>

            <div class="project-description padding-l-8">
                <h3>Task it!</h3>
                <div>
                    <img src="assets/img/html.png" class="tech-icons">
                    <img src="assets/img/css.png" class="tech-icons">
                    <img src="assets/img/javascript.svg" class="tech-icons">
                </div>
                <div>Task it! Is a kanban board, which is designed to keep track of work as it moves through a process.
                </div>
                <div class="btn-row">
                    <button class="go-to-browser"><a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/TatjanaHunekohl/Task-it"> Open with Github</a></button>
                    <button class="go-to-browser"> <a target="_blank" rel="noopener noreferrer"
                            href="https://tatjana-hunekohl.developerakademie.net/Task-it/index.html"> Open in Browser</a> </button>
                </div>
            </div>
           
        </div>
        <img src="assets/img/wave-bottom.svg" class="wave-bottom">
    </div>



    <!--  MHH! DELIVERY SERVICE   -->
   

    <div class="project-wrapper white-bg-project">
        <div class="width80 column-reverse">
            <div class="project-description text-align-right padding-r-8">
                <h3>Mhh!</h3>
                <div>
                    <img src="assets/img/html.png" class="tech-icons-reverse-padding">
                    <img src="assets/img/css.png" class="tech-icons-reverse-padding">
                    <img src="assets/img/javascript.svg" class="tech-icons-reverse-padding">
                </div>
                <div class="tech-stack">Is a javascript based food delivery Frontend</div>
                <div class="btn-row flex-end">
                    <button class="flush-right go-to-browser"> <a target="_blank" rel="noopener noreferrer"
                            href=" https://github.com/TatjanaHunekohl/Mhh---lieferando-clone"> Open with Github</a> </button>
                    <button class="flush-right go-to-browser"> <a target="_blank" rel="noopener noreferrer"
                            href="https://tatjana-hunekohl.developerakademie.net/mhh/index.html"> Open in Browser</a> </button>
                </div>
            </div>
            <div class="img-box flex-start">
                <img src="assets/img/mhh_mockup_bgremove.png" class="project-presentation">
            </div>
        </div>
    </div>

    <!-- QUIZ IT -->

    <div class="project-wrapper color1">
        <img src="assets/img/wave-top.svg" class="wave-top">
        <div class="width80">
            <div class="img-box flex-end">
                <img src="assets/img/quiz-it-beispiel.png" class="project-presentation">
            </div>

            <div class="project-description padding-l-8">
                <h3>Quiz it!</h3>
                <div>
                    <img src="assets/img/html.png" class="tech-icons">
                    <img src="assets/img/css.png" class="tech-icons">
                    <img src="assets/img/javascript.svg" class="tech-icons">
                </div>
                <p>Quiz it! is a simple JavaScript Quiz Application.</p>
                <div class="btn-row">
                    <button class="go-to-browser"><a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/TatjanaHunekohl/Quiz-it"> Open with Github</a></button>
                    <button class="go-to-browser"><a target="_blank" rel="noopener noreferrer"
                            href="https://tatjana-hunekohl.developerakademie.net/Quiz%20it!/"> Open in Browser</a></button>
                </div>
            </div>
        </div>
        <img src="assets/img/wave-bottom.svg" class="wave-bottom">
    </div>

     <!-- Portfolio -->

     <div class="project-wrapper white-bg-project">
        <div class="width80 column-reverse">
            <div class="project-description text-align-right padding-r-8">
                <h3>Portfolio</h3>
                <div>
                    <img src="assets/img/angular.svg" class="tech-icons-reverse-padding">
                    <img src="assets/img/sass.png" class="tech-icons-reverse-padding">
                </div>
                <div class="tech-stack">This Portfolio is my personal website which i use to show my projects.</div>
                <div class="btn-row flex-end">
                    <button class="go-to-browser flush-right"> <a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/TatjanaHunekohl/tatjanakonehul.de"> Open with Github</a> </button>
                    <button class="go-to-browser flush-right"> <a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/TatjanaHunekohl/tatjanakonehul.de"> Open in Browser</a> </button>
                </div>
            </div>
            <div class="img-box flex-start">
                <img src="assets/img/smartmockup_portfolio.jpg" class="project-presentation">
            </div>
        </div>
    </div>


  
    
    


   

    
</div>