<div class="project-sctn">

    <h2 id="projects">Projects</h2>

    <!-- QUIZ IT -->

    <div class="project-wrapper color1">
        <img src="assets/img/wave-top.svg" class="wave-top">
        <div class="width80">
            <div>
                <img src="assets/img/quiz-it-beispiel.png" class="project-presentation">
            </div>

            <div class="project-description">
                <h3>Quiz it!</h3>
                <div class="tech-stack">HTML | CSS | JS</div>
                <p>Quiz it! is a Simple JavaScript Quiz Application.</p>
                <div class="btn-row">
                    <button class="go-to-browser"><a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/TatjanaHunekohl/Quiz-it"> Open with Github</a></button>
                    <button class="go-to-browser"><a target="_blank" rel="noopener noreferrer"
                            href="https://tatjana-hunekohl.developerakademie.net/Quiz%20it!/"> Open in Browser</a></button>
                </div>
            </div>
        </div>
        <img src="assets/img/wave-bottom.svg" class="wave-bottom">
    </div>



    <!--  MHH! DELIVERY SERVICE   -->


    <div class="project-wrapper white-bg-project">
        <div class="width80 column-reverse">
            <div class="project-description text-align-right">
                <h3>Mhh!</h3>
                <div>HTML | CSS | JS</div>
                <div class="tech-stack">Is a javascript based flieferando clone</div>
                <div class="btn-row">
                    <button class="go-to-browser"> <a target="_blank" rel="noopener noreferrer"
                            href="https://tatjana-hunekohl.developerakademie.net/mhh%21/index.html"> Open with Github</a> </button>
                    <button class="go-to-browser"> <a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/TatjanaHunekohl/Mhh---lieferando-clone"> Open in Browser</a> </button>
                </div>
            </div>
            <div>
                <img src="assets/img/mhh_mockup_bgremove.png" class="project-presentation">
            </div>
        </div>
    </div>


    <!-- TASK IT -->


    <div class="project-wrapper color1">
        <img src="assets/img/wave-top.svg" class="wave-top">
        <div class="width80">
            <div>
                <img src="assets/img/task-it-project.png" class="project-presentation">
            </div>

            <div class="project-description">
                <h3>Tsk it!</h3>
                <div class="tech-stack">HTML | CSS | JS</div>
                <div>Task it! Is a kanban board, which is designed to keep track of work as it moves through a process.
                </div>
                <div class="btn-row">
                    <button class="go-to-browser"><a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/TatjanaHunekohl/Task-it"> Open with Github</a></button>
                    <button class="go-to-browser"> <a target="_blank" rel="noopener noreferrer"
                            href="https://tatjana-hunekohl.developerakademie.net/Task-it/index.html"> Open in Browser</a> </button>
                </div>
            </div>
           
        </div>
        <img src="assets/img/wave-bottom.svg" class="wave-bottom">
    </div>
    


    <!-- Portfolio -->

    <div class="project-wrapper white-bg-project">
        <div class="width80 column-reverse">
            <div class="project-description text-align-right">
                <h3>Portfolio</h3>
                <div>HTML | SCSS | TYPESCRIPT</div>
                <div class="tech-stack">This Portfolio is my personal website which i use to show my projects.</div>
                <div class="btn-row">
                    <button class="go-to-browser"> <a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/TatjanaHunekohl/tatjanakonehul.de"> Open with Github</a> </button>
                    <button class="go-to-browser"> <a target="_blank" rel="noopener noreferrer"
                            href="https://github.com/TatjanaHunekohl/tatjanakonehul.de"> Open in Browser</a> </button>
                </div>
            </div>
            <div>
                <img src="assets/img/smartmockup_portfolio.jpg" class="project-presentation">
            </div>
        </div>
    </div>


</div>