<div id="home" class="keyvisual-wrapper">

    <div class="keyvisual">
        <div class="left">
            <h1 class="UbuntuMono">Hello<br>I'm Tatjana<br>Hunekohl</h1>
            <p>Front End Web Developer from Berlin</p>
            <button class="btn"> <a href="#contact-me">CONTACT ME :)</a></button>
        </div>

        <div class="picture-box">
            <img src="assets/img/Test1.jpeg" class="main-picture">
            <img src="assets/img/blob1.svg" class="blob">
            <img src="assets/img/dots-black.svg" class="dots2">
        </div>
    </div>

</div>